/**/.ipynb_checkpoints
/**/__pycache__
*.svg
/**/.snakemake
*.done
/**/.DS_Store
test/bulk_cCARLIN/*
!test/bulk_cCARLIN/config.yaml
!test/bulk_cCARLIN/raw_fastq
test/bulk_TigreCARLIN/*
!test/bulk_TigreCARLIN/config.yaml
!test/bulk_TigreCARLIN/raw_fastq
test/sc-10X/*
!test/sc-10X/config.yaml
!test/sc-10X/raw_fastq
test/Camellia/*
!test/Camellia/config.yaml
!test/Camellia/raw_fastq
*.egg-info
