/**/.ipynb_checkpoints
/**/__pycache__
*.svg
/**/.snakemake
*.done
/**/.DS_Store
test/test_cCARLIN/*
!test/test_cCARLIN/config.yaml
!test/test_cCARLIN/raw_fastq
test/test_TigreCARLIN/*
!test/test_TigreCARLIN/config.yaml
!test/test_TigreCARLIN/raw_fastq
